.build
Makefile.in
aclocal.m4
autom4te.cache
bootstrap.pl
config.guess
config.sub
configure
configure.ac
install-sh
*~
ltmain.sh
*.ncb
*.suo
*.vcproj.*.user
*.obj
*.htm
*.manifest
*.res
*.idb
*.dep
*.dll
*.exp
*.ilk
*.exe
*.pdb
*.lib
